a {
    color: #252839;
    text-decoration: none;
    transition: color 200ms, background-color 200ms;
    transition-timing-function: ease-out;
}

a:hover {
    color: #677077;
    text-decoration: none;
}

h1 {
    font-family: 'Londrina Outline', cursive;
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);
}

h3 {
    font-family: 'Ruda', sans-serif;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
}

footer {
    background: transparent;
}

/* GRADIENTTI */
body, html {
	width: 100%;
	height: 90%;
	color: #252839;
	background: linear-gradient(45deg, #f9dc9f, #f6cb6f, #f2b632, #c0870c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.1, 0.63, 0.9);
	-moz-animation: Gradient 20s infinite;
    -moz-animation-timing-function: cubic-bezier(0.4, 0.1, 0.63, 0.9);
	animation: Gradient 20s infinite;
    animation-timing-function: cubic-bezier(0.4, 0.1, 0.63, 0.9);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* poistaa jonkun vammasen taustan sivun alareunasta */
body {
    background: transparent !important;
}