.animsition {
    color: #f2b632;
    font-family: 'Ruda', sans-serif;
    background-color: #252839; 
}

article {
    color: #252839;
    background-color: #b5b5b7;
    box-shadow: 0px 10px 10px 10px #677077; 
}

main {
    color: #252839;
    background-color: #b5b5b7;
    box-shadow: 0px 10px 10px 10px #677077;
}

footer {
    background-color: #252839;
    color: #b5b5b7;
}

b {
    word-wrap: break-word;
}


/* TABS */
.nav-tabs {
    border-bottom: 2px solid #f2b632;
}

.nav-item {
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid #f2b632;
}

.nav-tabs .nav-link {
    border: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs .nav-link.active {
    color: #252839;
    background-color: #f2b632;
    border: transparent;
}

.nav-link {
    color: #252839;
    background-color: #b5b5b7;
}

.nav-link:hover {
    color: #252839;
    background-color: #f6cb6f;
    border: transparent;
}


/* FOOTER NAVIGATION */
.breadcrumb {
    background-color: transparent;
}

ol li a {
    color: #b5b5b7;
}

ol li a:hover {
    color: #f2b632;
    text-decoration: none;
}


/* DROPDOWN */
#dropdown {
    color: #252839;
    background-color: #b5b5b7;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 10px;
}

#dropdown:hover {
    color: #252839;
    background-color: #f6cb6f;
    box-shadow: none;
}

#dropdown:active {
    color: #252839;
    background-color: #f2b632;
    box-shadow: none;
}

#dropdown:focus {
    color: #252839;
    background-color: #f2b632;
    box-shadow: none;
}

#dropdown-list {
    background-color: #b5b5b7;
    border: none;
    box-shadow: 0px 0px 10px 4px #677077;
    border-radius: 10px;
}

#dropdown-list a {
    color: #252839;
    background-color: #b5b5b7;
}

#dropdown-list a:hover {
    color: #252839;
    background-color: #f6cb6f;
}


/* CARDS */
.card {
    border: none;
    color: #b5b5b7;
    background-color: #252839;
    border-radius: 10px;
}

.card-header {
    color: #f2b632;
    background-color: #677077;
}

.card-header:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* LIST */
.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-group-item {
    color: #f2b632;
    background-color: #677077;
}

.list-group-item-secondary {
    color: #f2b632;
    background-color: #252839;
}

/* WIKI ABCD...-BUTTONS */
.nav-pills .nav-link {
    border-radius: 10px;
    margin: 1px;
}

.col-sm-2 a {
    color: #252839;
    cursor: pointer;
}

.col-sm-2 a:hover {
    color: #f2b632;
    text-decoration: none;
}

.col-sm-2 a:visited {
    color: #252839;
    text-decoration: none;
}