body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cmn-toggle {
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
}
.cmn-toggle-round + label {
  width: 500px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
.cmn-toggle-round + label:before,
.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
}
.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.cmn-toggle-round:checked + label:before {
  background-color: #80ffcc;
  animation: vari 1s linear 0s;
}
.cmn-toggle-round:checked + label:after {
  margin-left: 445px;
  animation: pallura 1s linear 0s;
}

@keyframes pallura {
    0% {
        margin-left: 0px;
    }
    25% {
        margin-left: 110px;
    }
    50% {
        margin-left: 220px;
    }
    75% {
        margin-left: 330px;
    }
    100% {
        margin-left: 445px;
    }
}

@keyframes vari {
    0% {
        background-color: #00995c;
    }
    25% {
        background-color: #00cc7a;
    }
    50% {
        background-color: #00ff99;
    }
    75% {
        background-color: #33ffad;
    }
    100% {
        background-color: #66ffc2;
    }
}